.progress-bar {
  height: 25px;
  display: flex;
  background-color: #757b85;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 20px;
}

.stats-number {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 12px 0 16px 0;
}

.highlight {
  color: #f26a1c;
  font-weight: 600;
}

.status-note {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding-bottom: 20px;
}

.status-wrapper,
.watch-wrapper {
  display: flex;
  padding: 5px 0;
}

.watch-wrapper {
  justify-content: space-between;
  padding-right: 10px;
}

.status-text-wrapper {
  padding-left: 12px;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.status-round {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.watch-title {
  display: inline-block;
  width: 80%;
}

.watch-number {
  text-align: right;
}
