.modal {
  display: flex;
  position: fixed;
  justify-content: center;
  top: 56px;
  right: 0;
  bottom: 0;
  left: 0;
  animation: fadeIn linear 0.1s;
  z-index: 30;

  & > form {
    z-index: 3;
    width: 50%;
  }

  & + div {
    margin-top: 0 !important;
  }
}

.modal_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.status-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  margin-top: 4px;
}

.close-post {
  position: absolute;
  top: 24px;
  right: 9px;
  font-size: 30px;
  color: #444;

  &:hover {
    color: #777;
  }
}

.delete-icon {
  position: absolute;
  top: 4px;
  right: 4px;
  font-size: 30px;
  cursor: pointer;
  display: none;
  color: black;

  &:hover {
    opacity: 0.9;
  }
}

.image-wrapper {
  height: 100%;
  padding: 0 151px;
  border-radius: 10px;
  margin-right: 10px;
  background-position: 50%;
  background-size: cover;
  position: relative;
  &:hover .delete-icon {
    display: block;
  }
}

.add-media {
  height: 100%;
  max-width: 302px;
  padding: 0 149px;
  border: 2px solid #3bc361;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}

.media-wrapper {
  &:hover > .delete-icon {
    display: block;
  }

  &::-webkit-scrollbar {
    border-radius: 0;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #444;
  }

  &::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: #333;
  }
}

.no-media-wrapper {
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}

.scroll-custom {
  // CSS to add smooth transition on height change
  transition: height 0.3s ease-in-out;

  &::-webkit-scrollbar {
    border-radius: 0;
    width: 3px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #4e5d78;
  }

  &::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: #191c21;
  }
}
