@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

:root {
    --font-family: 'Tilt Warp', cursive;
    --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
}

.section__padding {
    padding: 2rem 3rem;
}

.section__margin {
    margin: 4rem 6rem;
}

.gradient__text {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}