.input {
  border: 1px solid tomato;
}

.button {
  border: 2px solid black;
  padding: 5px;
  background-color: white;
}

.spinner {
  // display: none;
  animation: spin 0.8s linear infinite;
  position: absolute;
  padding: 0;
  top: 28%;
  right: 32px;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
