.spinner {
  // display: none;
  animation: spin 0.8s linear infinite;
  position: absolute;
  padding: 0;
  top: 28%;
  right: 32px;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

.profile-wrapper {
  width: 100%;
  display: flex;
  background-color: var(--primary-color);
  justify-content: center;
  margin-top: 60px;
}

.profile-content {
  width: 1044px;
}

.profile-body-wrapper {
  width: 1000px;
  display: flex;
  min-height: 2000px; // for developer state
  margin-top: 24px;
  box-sizing: border-box;
  margin-left: 24px;
  justify-content: space-between;
  padding: 20px;
  background-color: #212833;
  border-radius: 12px;
  position: relative;
}

.status-section {
  width: 44.5%;
  border-radius: 12px;
  position: -webkit-sticky;
  position: sticky;
  // top: 0;
  // z-index: 1;
}

.post-section {
  // height: 5000px;
  position: relative;
  background-color: var(--primary-color);
  border-radius: 12px;
  width: 53.5%;
}
