.wrapper {
  display: flex;
  position: relative;

  & > input {
    margin-left: 30px;
    width: 18%;
    background-color: #4e5d78;
    outline: none;
    border: none;
  }

  & > .total-episodes {
    position: absolute;
    right: 30%;
    top: 0;
    transform: translateY(17%);
  }

  & > .space {
    margin-left: 7px;
    height: 100%;
    text-align: center;
    line-height: 32px;
  }
}

.adjust-episodes {
  position: relative;
}

.up-icon,
.down-icon {
  font-size: 20px;
  position: absolute;
  right: 0;
}

.up-icon {
  top: -1px;
}

.down-icon {
  bottom: -1px;
}
